<section class="featured-motor-salvages">
    <div class="container">
           <h3 class="h3">Featured Motor Salvages </h3> 
           <p class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>   
           <div class="row">
               <div class="col-md-12">
                   <div id="news-slider2" class="owl-carousel">
                       <div class="post-slide2">
                           <div class="post-img">
                               <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                           </div>
                           <div class="post-content">
                             <div class="post-bar">
                               <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                               <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                           </div>
   
                               <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                               <p class="post-description">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                               </p>
                                <span class="date small"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                               
                           </div>
                       </div>
    
                       <div class="post-slide2">
                         <div class="post-img">
                             <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                         </div>
                         <div class="post-content">
                           <div class="post-bar">
                             <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                             <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                         </div>
   
                             <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                             <p class="post-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                         </div>
                     </div>
                     <div class="post-slide2">
                       <div class="post-img">
                           <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                       </div>
                       <div class="post-content">
                         <div class="post-bar">
                           <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                           <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                       </div>
   
                           <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                           <p class="post-description">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                       </div>
                   </div>
                   <div class="post-slide2">
                     <div class="post-img">
                         <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                     </div>
                     <div class="post-content">
                       <div class="post-bar">
                         <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                         <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                     </div>
   
                         <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                         <p class="post-description">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                     </div>
                 </div>
                 <div class="post-slide2">
                   <div class="post-img">
                       <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                   </div>
                   <div class="post-content">
                     <div class="post-bar">
                       <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                       <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                   </div>
   
                       <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                       <p class="post-description">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                   </div>
               </div>
               <div class="post-slide2">
                 <div class="post-img">
                     <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                 </div>
                 <div class="post-content">
                   <div class="post-bar">
                     <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                     <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                 </div>
   
                     <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                     <p class="post-description">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                 </div>
             </div>
             <div class="post-slide2">
               <div class="post-img">
                   <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
               </div>
               <div class="post-content">
                 <div class="post-bar">
                   <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                   <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
               </div>
   
                   <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                   <p class="post-description">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
               </div>
           </div>
           <div class="post-slide2">
             <div class="post-img">
                 <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
             </div>
             <div class="post-content">
               <div class="post-bar">
                 <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                 <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
             </div>
               
                 <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                 <p class="post-description">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
             </div>
         </div>
                       <div class="post-slide2">
                         <div class="post-img">
                             <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                         </div>
                         <div class="post-content">
                           <div class="post-bar">
                             <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                             <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                         </div>
   
                             <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                             <p class="post-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                         </div>
                     </div>
                       
                       <div class="post-slide2">
                         <div class="post-img">
                             <a href="#"><img src="../../../assets/img/img1.jpg" alt=""></a>
                         </div>
                         <div class="post-content">
                           <div class="post-bar">
                             <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                             <span class="bids"><i class="fa fa-refresh"></i><a href="#">4 Bids</a></span>
                         </div>
   
                             <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                             <p class="post-description">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             </p> <span class="date"><i class="fa fa-clock-o"></i> Bid due date jun 18</span>
                         <div class="post-bar">
                             <span><i class="fa fa-tags"></i>Ksh. 200,000</span>
                             <span class="bids"><i class="fa fa-share-alt"></i></span>
                         </div>
                         <a class="readon" href="bid-now.html"><i class="fa fa-gavel"></i> BID NOW</a>
                         </div>
                     </div>
                   </div>
               </div>
           </div>
       </div>
   
   </section>
