<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#!" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">snippets</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">simple breadcrumbs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </div>
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start faqs here-->
    <ng-container *ngIf="products.length !=0">
    <section class="accordion_two_section ptb-100 inner-page cart-details">
        <div class="container py-5">
            <h2 class="text-center title"><span>Shopping Cart<small> ({{totalItem}} item in your cart) </small></span></h2>
            
                
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="cart_container">
                               <ng-container *ngFor="let item of products; let i = index">
                                <div class="cart_items">
                                    <ul class="cart_list">
                                        <li class="cart_item clearfix">
                                            <div class="d-none">{{item.id}}</div>
                                            <div class="cart_item_image"><img src="{{item.product.first_image_url}}" alt=""></div>
                                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                <div class="cart_item_name cart_info_col">
                                                    <div class="cart_item_title">Name</div>
                                                    <div class="cart_item_text"><a>{{item.product.name}}</a></div>
                                                </div>
                                                <div class="cart_item_color cart_info_col d-none">
                                                    <div class="cart_item_title">Color</div>
                                                    <div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col">
                                                    <div class="cart_item_title">Quantity</div>
                                                    <div class="cart_item_text">{{item.quantity}}</div>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">Price</div>
                                                    <div class="cart_item_text">{{item.unit_price | number}}</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="cart_item_title">Total</div>
                                                    <div class="cart_item_text">{{item.amount | number}}</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="cart_item_title">Action</div>
                                                    <div class="cart_item_text"><button class="btn btn-danger btn-sm rounded-pill" (click)="removeItem(item)"><i class="fa fa-trash-o mr-1" aria-hidden="true"></i>
                                                        Remove</button></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ng-container>
                                <div class="order_total">
                                    <div class="order_total_content text-md-right">
                                        <div class="order_total_title">Order Total:</div>
                                        <div class="order_total_amount">Ksh {{grandTotal | number}}</div>
                                    </div>
                                </div>
                                
                                <div class="cart_buttons"> <a routerLink="/" type="button" class="button cart_button_clear">Continue Shopping</a> 
                                    <a [attr.disabled]="loading"  class="button cart_button_checkout purple" (click)="createOrder(products)">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>Proceed to Shippment</a>
                                    <!-- <a  type="button" class="button cart_button_checkout purple">Proceed to Shippment</a>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                
            
        </div>
        <!--end of /.container-->
    </section>
</ng-container>  
    <!-- section end here-->
    <ng-container *ngIf="products.length ==0">
        <section class="accordion_two_section ptb-100 inner-page cart-details">
        <div class="container py-5">
       
                <h2 class="text-center title"><span>Shopping Cart<small> ({{totalItem}} item in your cart) </small></span></h2>
                
            
            <div class="col py-5 text-center">
                
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <!-- <button routerLink="/products" class="btn btn-primary">Shop Now</button> -->
            </div>
        </div>
        </section>
    </ng-container>
