<section>
    <!-- Container containing all contents -->
    <div class="container">
       <div class="row justify-content-center">
           <div class="col-12 col-md-9 col-lg-7 col-xl-6">
               <!-- White Container -->
               <div class="container bg-white rounded mt-2 mb-2 px-0">
                   <!-- Main Heading -->
                   <div class="row justify-content-center align-items-center pt-3">
                       <h2 id="heading">Login</h2>
                   </div>
                   <div class="pt-3 pb-3">
                       <form id="login" class="form-horizontal" [formGroup] ="signIn" (ngSubmit)="loginProcess()">
                           <!-- User Name Input -->
                           <div class="form-group row justify-content-center px-3">
                               <div class="col-9 px-0"> <input type="email" formControlName="username" placeholder="Email" class="form-control border-info placeicon fa"> </div>
                           </div> <!-- Password Input -->
                           <div class="form-group row justify-content-center px-3">
                               <div class="col-9 px-0"> <input type="password" formControlName="password" placeholder="password" class="form-control border-info placeicon"> </div>
                           </div> <!-- CheckBox Remember Me-->
                           <div class="form-group row justify-content-center px-3">
                               <div class="col-9">
                                   <div class="row">
                                       <div class="col-6 px-0">
                                           <div class="custom-control custom-checkbox mb-3"> <input id="customCheck1" type="checkbox" class="custom-control-input checkbox-muted"> <label for="customCheck1" class="custom-control-label text-muted">Remember Me</label> </div>
                                       </div> <!-- Forgot Password Link -->
                                       <div class="col-6 px-0 text-right"> <span><a routerLink="/forgot-password" class="text-danger"><b>Forgot Password?</b></a></span> </div>
                                   </div>
                               </div>
                           </div> <!-- Log in Button -->
                           <div class="form-group row justify-content-center">
                               

                               <div class="col-3 px-3"> <button class="btn btn-block btn-info action-button purple" type="submit">Log in</button> </div>

                           </div>
                       </form>
                   </div> <!-- Alternative Login -->
                   <div class="mx-0 px-0 bg-light">
                       
                       <!-- Register Now -->
                       <div class="pt-2">
                           <div class="row justify-content-center">
                               <h5>Don't have an Account?<span><a href="register.html" class="text-danger"> Register Now!</a></span></h5>
                           </div>
                           
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
