<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">Tenders</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
      
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start content here-->
    <section class="accordion_two_section ptb-100 inner-page">
        <div class="container py-5">
            <h2 class="text-center title"><span>Tenders</span></h2>
            <div class="row pt-3">
            <div class="col-md-12">
                <ng-container *ngIf="isLoading">
                    <div class="row text-center d-flex justify-content-center" >
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </div>
                </ng-container>
                <div class="row">
                    
                    <ng-container *ngFor="let item of tendersList; index as i">
                    <div class="col-md-6">
                      <div class="featured-tenders p-4">
                       
                        <h5><a [routerLink]="['/tender/' + item?.id]">{{item.title}}</a> </h5>
                       <div class="row">
                        <div class="col-md-6"><b><i class="fa fa-briefcase mr-1" aria-hidden="true"></i>Company:</b> {{item.organization}}</div>
                        <div class="col-md-6"><b><i class="fa fa-calendar mr-1" aria-hidden="true"></i>Closing Date:</b> {{item.closing_date}}
                            <!-- <span class="badge badge-success ml-1">18 days 4hrs </span> -->
                        </div>
                       </div>
                       <div class="row mt-2">
                        <div class="col-md-12">
                            <b><i class="fa fa-tag mr-1" aria-hidden="true"></i>Sector: </b>{{item.sector}}
                            <b><i class="fa fa-tag ml-1 mr-1" aria-hidden="true"></i>Category: </b>Multiple, 
                            <b><i class="fa fa-tags ml-1 mr-1" aria-hidden="true"></i>Others: </b>
                        </div>
                    </div>
                       </div>
                        
                         
                    </div>
                 </ng-container>
                   
                    
                    
        
                  </div>
                    
                
                 
              </div>  
            </div>
        </div>
       
        <!--end of /.container-->
    </section>
    
    <!-- section end here-->