<section class="featured-auction grey">
    <div class="container">
      <h3 class="h3">Featured Non-Motor Salvages</h3>
      <p class="subheading mb-3">Browse to discover the best rated non-motor salvage items…
      </p>
      <div class="row">
        
          <div class="col-md-12">
            <ng-container *ngIf="isLoading">
              <div class="row text-center d-flex justify-content-center" >
                  <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
              </div>
          </ng-container>
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of bidsList">
                  <ng-template class="slide" carouselSlide [id]="slide.id">
                    <div class="post-slide my-1">
                        <div class="post-img">
                            <a href="#">
                               
                                <img [src]="slide.images[0].image_url" [alt]="slide.images[0].name" alt="">
                            </a>
                        </div>
                        <div class="post-review">
                        <div class="post-bar">
                              <span><i class="fa fa-map-marker"></i><a href="#">{{slide.city}}</a></span>
                              <span class="bids"><i class="fa fa-refresh"></i><a href="#">{{slide.bids}} Bids</a></span>
                          </div>
                            <h3 class="post-title"><a href="#">{{slide.name}}</a></h3>
                           
                            <p class="post-description">{{slide.description_of_damage}}</p>
                            <span class="date"><i class="fa fa-clock-o"></i> Bid due date {{slide.closing_date}}</span>
                          <div class="post-bar">
                              <span><i class="fa fa-tags"></i>{{slide.currency.symbol}} {{slide.price | number}}</span>
                              <span class="bids"><i class="fa fa-share-alt"></i></span>
                          </div>
                          <a class="readon" [routerLink]="['/bid/' + slide?.id]"><i class="fa fa-gavel"></i> BID NOW</a>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        
          </owl-carousel-o> 
             
          </div>
      </div>
    </div>
</section>
