

 

 <!-- section start here-->
<section class="featured-auction grey d-none">
  <div class="container">
    <h3 class="h3">Featured Service Provider </h3>
    <p class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="row">
        <div class="col-md-12">
          <div class="row"> 
            <ng-container *ngIf="isLoading">
              <div class="row text-center d-flex justify-content-center" >
                  <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
              </div>
          </ng-container> 
              <ng-container *ngFor="let item of bidsList;">
                <ng-container *ngIf="item.is_featured == 1">
                </ng-container>
                <div class="col-md-3">
                  <div class="post-slide">
                    <div class="post-img">
                        <a href="#">
                           
                          <img [src]="item.images[0].image_url" [alt]="item.images[0].name" alt="">
                        </a>
                    </div>
                    <div class="post-review">
                    <div class="post-bar">
                          <span><i class="fa fa-map-marker"></i><a href="#">{{item.city}}</a></span>
                          
                      </div>
                        <h3 class="post-title"><a href="#">{{item.name}}</a></h3>
                       
                        <p class="post-description">{{item.bio}}</p>
                        
                      <div class="post-bar">
                          
                      </div>
                      <a class="readon text-uppercase" [routerLink]="['/bid/' + item?.id]">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                      </a>
                    </div>
                   </div>
                </div>
               
                
              </ng-container>
                
            </div>  
        </div>
    </div>
    </div>
</section>
<!-- section end here-->
<section class="featured-auction grey">
    <div class="container">
      <h3 class="h3">Featured Service Provider </h3>
      <p class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="row py-5">
          <div class="col-md-12">
            <ng-container *ngIf="isLoading">
                <div class="row text-center d-flex justify-content-center" >
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
            </ng-container>
            <owl-carousel-o [options]="customOptions">

              <ng-container *ngFor="let item of bidsList;">
                <ng-template class="slide" carouselSlide [id]="item.id">
                  <div class="post-slide my-1">
                    <div class="post-img">
                        <a href="#">
                           
                          <img [src]="item.images[0].image_url" [alt]="item.images[0].name" alt="">
                        </a>
                    </div>
                    <div class="post-review">
                    <div class="post-bar">
                          <span><i class="fa fa-map-marker"></i><a href="#">{{item.city}}</a></span>
                          
                      </div>
                        <h3 class="post-title"><a href="#">{{item.name}}</a></h3>
                       
                        <p class="post-description">{{item.bio}}</p>
                        
                      <div class="post-bar">
                          
                      </div>
                      <a class="readon text-uppercase" [routerLink]="['/service-providers/' + item?.id]">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                      </a>
                    </div>
                </div>
              </ng-template>
          </ng-container>
      
        </owl-carousel-o>  
          </div>
      </div>
      </div>
  </section>
