<section class="featured-auction grey">
    <div class="container">
      <h3 class="h3">Featured Service Provider </h3>
      <p class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="row">
          <div class="col-md-12">
              <div id="news-slider0" class="owl-carousel">
                  <div class="post-slide">
                      <div class="post-img">
                          <a href="#">
                             
                              <img src="../../../assets/img/avator.jpg" width="160" height="207" alt="">
                          </a>
                      </div>
                      <div class="post-review">
                      <div class="post-bar">
                            <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                            
                        </div>
                          <h3 class="post-title"><a href="#">Dr. Frank Jobs</a></h3>
                         
                          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          
                        <div class="post-bar">
                            
                        </div>
                        <a class="readon text-uppercase" href="doctor-details.html">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                        </a>
                      </div>
                  </div>
   
                  <div class="post-slide">
                      <div class="post-img">
                          <a href="#">
                              <img src="../../../assets/img/hospital.jpg" width="160" height="207" alt="">
                              
                          </a>
                      </div>
                      <div class="post-review">
                      <div class="post-bar">
                            <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                            
                        </div>
                          <h3 class="post-title"><a href="#">Aghakan Hospital</a></h3>
                         
                          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        
                          <a class="readon text-uppercase" href="#">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                          </a>
                      </div>
                  </div>
                  <div class="post-slide">
                      <div class="post-img">
                          <a href="#">
                              <img src="../../../assets/img/gym.jpg" width="160" height="207" alt="">
                             
                          </a>
                      </div>
                      <div class="post-review">
                      <div class="post-bar">
                            <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                            
                        </div>
                          <h3 class="post-title"><a href="#">Figure Eight</a></h3>
                          
                          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          
                        
                          <a class="readon text-uppercase" href="#">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                          </a>
                      </div>
                  </div><div class="post-slide">
                    <div class="post-img">
                        <a href="#">
                            <img src="../../../assets/img/eng.jpg" width="160" height="207" alt="">
                            
                        </a>
                    </div>
                    <div class="post-review">
                    <div class="post-bar">
                            <span><i class="fa fa-map-marker"></i><a href="#">Nairobi</a></span>
                            
                        </div>
                        <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                        
                        <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       
                        
                        <a class="readon text-uppercase" href="#">Read more<i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </section>
