<section class="banner">
    <!--carousel starts-->
                      <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../../assets/img/banner.jpg" alt="slider1" width="100%">
                            <div class="carousel-caption">
                              <h3>Heading 1 For First Slider</h3>
                              <p class="lead">We had such a great time using this slider</p>
                            </div>   
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/banner.jpg" alt="slider2" width="100%">
                            <div class="carousel-caption">
                              <h3>Heading 2 For Second Slider</h3>
                              <p class="lead">We had such a great time using this slider</p>
                            </div>   
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/banner.jpg" alt="slider3" width="100%">
                            <div class="carousel-caption">
                              <h3>Heading 3 For Third Slider</h3>
                              <p class="lead">We had such a great time using this slider</p>
                            </div>   
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                      <!--carousel ends-->
    </section>
    <section class="search-sec">
      <div class="container search">
          <form action="#" method="post" novalidate>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                              <input type="text" class="form-control search-slt bookmark" placeholder="Keyword" [(ngModel)]="searchText">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0 separator">
                              <input type="text" class="form-control search-slt location-marker" placeholder="Location">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                              <select class="form-control search-slt b-select arrow-down" id="exampleFormControlSelect1">
                                  <option>Select Vehicle</option>
                                  <option>Example one</option>
                                  <option>Example one</option>
                                  <option>Example one</option>
                                  <option>Example one</option>
                                  <option>Example one</option>
                                  <option>Example one</option>
                              </select>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                              <button type="button" class="btn btn-danger purple wrn-btn border-0">Search</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <!--  -->
      </div>
  </section>
