<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#!" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">snippets</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">simple breadcrumbs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
      
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start content here-->
    <section class="accordion_two_section ptb-100 inner-page">
        <div class="container py-5">
            <h2 class="text-center title"><span>Features</span></h2>
            <div class="row pt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="featured d-flex shadow-sm pt-4">
                  <div class="col-md-2">
                    <div class="featured-icon">
                      <i class="fa fa-tasks" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="featured-text">
                    <h4>Task Management</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                  </div>    
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Sell/Buy Products</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-gavel mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Auction Items</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Quotations</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-file-text mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Invoicing</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Tender Management</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Messaging and Notifications</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Customer Referrals</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
              </div>  
            </div>
        </div>
        </div>
        <!--end of /.container-->
    </section>
    
    <!-- section end here-->
