<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">Features</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
      
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start content here-->
    <section class="accordion_two_section ptb-100 inner-page">
        <div class="container py-5">
            <h2 class="text-center title"><span>Features</span></h2>
            <div class="row pt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="featured d-flex shadow-sm pt-4">
                  <div class="col-md-2">
                    <div class="featured-icon">
                      <i class="fa fa-tasks" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="featured-text">
                    <h4>Task Management</h4>
                    <p>The task management module allows the process of monitoring your tasks through their various stages from start to finish.. The primary goal of the task management feature module is to provide a mechanism to support repeatable processes. The result is improved productivity, reduction in novice errors, and increased efficiency.
                    </p>
                  </div>
                  </div>    
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Sell/Buy Products</h4>
                      <p>Selling online can help your business reach new markets and increase your sales and revenue gains. If you are interested in selling to other businesses, you can use the Internet to find sales leads, announce calls for tender, and to offer products for sale through our e-marketplace platform.
                      </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-gavel mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Auction Items</h4>
                      <p>We are one of the world’s leading online marketplace for motor and non-motor salvages. 
                        Browse for motor and non-motor salvages. Bid online on products from all over the industry.
                        The magical thing about an online auction platform is the ability to reach bidders from all over the country, increasing the bidding pool and profits.
                        </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Quotations</h4>
                      <p>Quotation management is a vital part of the sales process, involves the management of quotes that are associated with a sales opportunity,it allows businesses to provide accurate and up-to-date pricing information to potential customers. It can also help sales teams track progress on specific deals and identify deals where further negotiation is required.
                        Our quote management system helps to streamline your company’s sales process and help sales reps close more deals. 
                        </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-file-text mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Invoicing</h4>
                      <p>Our Invoice management feature helps companies automate tasks related to invoice processing. Invoice processing automation streamlines invoice processing end-to-end. Our feature-rich solution allows businesses to generate and send invoices to other organizations.
                      </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Tender Management</h4>
                      <p>Our tenders feature allows businesses to create tendering opportunities for SMEs in the public sector, and lets suppliers easily view tenders without location constraints. It provides a centralized access to all your tenders hence speed up procurement processes.
                      </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-envelope mr-1" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Messaging and Notifications</h4>
                      <p>Send and Receive messages and alerts on the platform. Ability to notify users on assigned tasks and also receive important system generated notifications.
                      </p>
                    </div>
                    </div>    
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured d-flex shadow-sm pt-4">
                    <div class="col-md-2">
                      <div class="featured-icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="featured-text">
                      <h4>Customer Referrals</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>    
                    </div>
                  </div>
              </div>  
            </div>
        </div>
        </div>
        <!--end of /.container-->
    </section>
    
    <!-- section end here-->
