.list-group-item-text{
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.range-slider {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background: transparent linear-gradient(90deg, #ffffff 0%, #32478a 100%) 0% 0%
    no-repeat padding-box;
}
.range-slider .progress {
  position: absolute;
  left: 25%;
  right: 0%;
  height: 100%;
  border-radius: 15px;
  background: transparent linear-gradient(90deg, #ffffff 0%, #32478a 100%) 0% 0%
    no-repeat padding-box;
}
.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}
.range-slider .range-min::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 25px;
  height: 20px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 3px solid #6488ea;
  border-radius: 20px;
  opacity: 1;
}
.range-slider .range-max::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 25px;
  height: 20px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 3px solid #32478a;
  border-radius: 20px;
  opacity: 1;
}
