<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#!" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">snippets</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">simple breadcrumbs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
     
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start faqs here-->
    <section class="accordion_two_section ptb-100 inner-page myaccount h-100" *ngIf="user">
        <div class="container py-5">
            <h2 class="text-center title"><span>My account</span></h2>
            <div class="row mb-5">
             <div class="col-md-4">
                <app-sidemenu></app-sidemenu>
             </div>
             <div class="col-md-8">
                <p> Hello <b>{{user.user.first_name}}</b> (not {{user.user.first_name}}? <a href="#" (click)="logout()">Log out</a>)<br>
                    From your account dashboard you can view your <a href="my-orders.html">recent orders</a>, manage your <a href="address.html">shipping and billing addresses</a>, and <a href="#">edit your password and account details</a>.</p>
                    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
             </div>
             
        
            </div>
        </div>
        <!--end of /.container-->
    </section>
    
    <!-- section end here-->
