<section class="head-section">
    <div class="container-fluid">
    <div class="row top-head purple">
    <div class="container">
    <div class="row logo_header">
    <div class="col-sm-6">
    <a class="navbar-header" href="#"><img src="../../../assets/img/logo.png" width="374" height="63" class="img-fluid" alt=""></a>
    </div>
    <div class="col-sm-6 radius-icon d-none d-sm-block">
    
     <a href="login.html" class="btn btn-responsive yellow" data-toggle="modal" data-target="#my-modal">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
        </a>
         <a href="register.html" class="btn btn-responsive blue" data-toggle="modal" data-target="#my-modal-2">
            <i class="fa fa-user-plus" aria-hidden="true"></i> Register
        </a>
        
         <a href="cart.html" class="cart hidden">
         <button class="btn btn-xs btn-link" style="font-size:20px;">
        <i class="fa fa-shopping-cart" style="color:#fff"></i>
      </button>
      <span class="badge badge-notify" style="font-size:10px;">3</span>
        </a>
       
       </div> 
       </div>
    </div>
    <div class="col-sm-6 radius-icon d-block d-sm-none">
        
            <div class="btn-group navbar-header" role="group" aria-label="Basic example">
                <a class="btn btn-responsive yellow" data-toggle="modal" data-target="#my-modal">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                </a>
                 <a class="btn btn-responsive blue" data-toggle="modal" data-target="#my-modal-2">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Register
                </a>
              </div>
              
    </div>
    </div>
    
    </div>
    </section>
 <!-- start modal sign-in ----->
 <div id="my-modal" class="modal fade rounded" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
       <div class="modal-content border-0 mx-3">
          <div class="modal-body p-0">
             <div class="row justify-content-center">
                <div class="col-auto">
                   <div class="card">
                      <div class="card-header bg-white pb-0 border-0">
                         <div class="row">
                            <div class="col text-right"><i class="fa fa-2x fa-close" data-dismiss="modal"></i></div>
                         </div>
                      </div>
                      <div class="card-body pt-0">
                         <div class="row justify-content-center text-center">
                            <div class="col">
                               <p><b>LOGIN</b></p>
                            </div>
                         </div>
                         <div class="row justify-content-center">
                            <div class="col-sm-12 mt-5">
                              <form id="login" class="form-horizontal" [formGroup] ="signIn">
                                 <!-- User Name Input -->
                                 <div class="form-group row justify-content-center px-5">
                                     <div class="col-12 px-0"> <input [class.border-r]="signIn.controls['username'] .dirty && signIn.hasError('required','username')" formControlName="username" type="email" placeholder="Email" class="form-control border-info">
                                      <small *ngIf="signIn.controls['username'] .dirty && signIn.hasError('required','username')" class="text-danger">*Email is Required</small> </div>
                                     
                                 </div> 
                                 
                                 <!-- Password Input -->
                                 <div class="form-group row justify-content-center px-5">
                                     <div class="col-12 px-0"> <input [class.border-r]="signIn.controls['password'] .dirty && signIn.hasError('required','password')" formControlName="password" type="password" placeholder="password" class="form-control border-info" required><small *ngIf="signIn.controls['password'] .dirty && signIn.hasError('required','password')" class="text-danger">*Password is Required</small> </div>
                                     
                                 </div>
                                 
                                 <!-- CheckBox Remember Me-->
                                 <div class="form-group row justify-content-center px-5">
                                     <div class="col-9">
                                         <div class="row">
                                              <!-- Forgot Password Link -->
                                             <div class="col-9 px-0 text-right"> <span><a routerLink="/forgot-password" class="text-danger"><b>Forgot Password?</b></a></span> </div>
                                         </div>
                                     </div>
                                 </div> <!-- Log in Button -->
                                 <div class="form-group row justify-content-center">
                                     
      
                                     <div class="col-12 px-5"> <button class="btn btn-block btn-info action-button purple" (click)="login()" type="submit">Log in</button> </div>
      
                                 </div>
                             </form>
                               <!-- <div class="form-group row justify-content-center">OR</div></div>
                                  <div class="col-sm-9"><button type="button" class="btn btn-icon btn-block text-left "><span><img src="../../../assets/img/google-logo.png"/></span> Sign in with Google</button></div>
                                  <div class="col-sm-9 mt-2"><button type="button" class="btn btn-icon btn-block text-left "><span><img src="../../../assets/img/URmkevm.png" class="img-fluid mr-1" width="25"></span> Sign in with Facebook</button> </div>
                                  <div class="col-sm-9 mt-2"><button type="button" class="btn btn-icon btn-block text-left "><span><img src="../../../assets/img/twitter.png" class="img-fluid mr-1" width="25"></span> Sign in with Twitter</button> </div>
                                  </div> -->
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>    

<!--modal sign up -->
<div id="my-modal-2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
        <div class="modal-content border-0 mx-3">
            <div class="modal-body p-0">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header bg-white pb-0 border-0">
                                <div class="row">
                                    <div class="col text-right"><i class="fa fa-2x fa-close" data-dismiss="modal"></i></div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row justify-content-center text-center">
                                    <div class="col">
                                        <p class="mb-2"><b>Sign up</b></p><small class="px-sm-5 px-2">Create an account to unlock all the benefits of service provider.</small>
                                    </div>
                                </div>
                                <div class="row justify-content-center">

                                    <div class="col-sm-9 mt-5"><a href="/register" type="button" class="btn btn-icon btn-block text-left "><span><i class="fa fa-user img-fluid mr-1" aria-hidden="true"></i></span> Sign up as Individual</a></div>
                                    <div class="col-sm-9 mt-2"><a href="/register-organization" type="button" class="btn btn-icon btn-block text-left "><span><i class="fa fa-users img-fluid mr-1" aria-hidden="true"></i></span>Sign up as Organization</a> </div>
                                   
                                </div>
                                <div class="row justify-content-center my-5">
                                    <div class="col-10">
                                        <div class="custom-control custom-checkbox"><input id="my-input" class="custom-control-input" type="checkbox" name="" value="true"><label for="my-input" class="custom-control-label"><span>I'm not interested in update about products and service. </span></label></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>