<section class="head-section">
    <div class="container-fluid">
    <div class="row top-head purple">
    <div class="container">
    <div class="row logo_header">
    <div class="col-sm-6">
    <a class="navbar-header" routerLink="/"><img src="../../../assets/img/logo.png" width="374" height="63" class="img-fluid" alt=""></a>
    </div>
    <div class="col-sm-6 radius-icon d-none d-sm-block">
        <ng-container *ngIf="isLoggedIn">
     <a class="btn btn-responsive yellow" (click)="headerlogout()">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Log Out
        </a>
         <a routerLink="/myaccount" class="btn btn-responsive blue" >
            My Account
        </a>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
        <a href="login.html" class="btn btn-responsive yellow" data-toggle="modal" data-target="#my-modal">
               <i class="fa fa-sign-in" aria-hidden="true"></i> Login
           </a>
            <a href="register.html" class="btn btn-responsive blue" data-toggle="modal" data-target="#my-modal-2">
               <i class="fa fa-user-plus" aria-hidden="true"></i> Register
           </a>
       </ng-container>
    
         <a routerLink="/cart" class="cart hidden">
         <button routerLink ="/cart" class="btn btn-xs btn-link" style="font-size:20px;">
        <i class="fa fa-shopping-cart" style="color:#fff"></i>
      </button>
      <span class="badge badge-notify" style="font-size:10px;">6</span>
        </a>
       
       </div> 
       </div>
    </div>
   <ng-container *ngIf="isLoggedIn">
    <div class="col-sm-6 radius-icon d-block d-sm-none">
        
        <div class="btn-group navbar-header" role="group" aria-label="Basic example">
            <a class="btn btn-responsive yellow" (click)="headerlogout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log <br>Out
            </a>
             <a class="btn btn-responsive blue" routerLink="/myaccount">
                <i class="fa fa-user-plus" aria-hidden="true"></i> My Account
            </a>
          </div>
          
</div>
   </ng-container>
   <ng-container *ngIf="!isLoggedIn">
    <div class="col-sm-6 radius-icon d-block d-sm-none">
        
        <div class="btn-group navbar-header" role="group" aria-label="Basic example">
            <a class="btn btn-responsive yellow" data-toggle="modal" data-target="#my-modal">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Login+
            </a>
             <a class="btn btn-responsive blue" data-toggle="modal" data-target="#my-modal-2">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Register
            </a>
          </div>
          
</div>
   </ng-container>
    </div>
    
    </div>
    </section>
 <!-- start modal sign-in ----->
 <div id="my-modal" class="modal fade rounded" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
       <div class="modal-content border-0 mx-3">
          <div class="modal-body p-0">
             <div class="row justify-content-center">
                <div class="col-auto">
                   <div class="card">
                      <div class="card-header bg-white pb-0 border-0">
                         <div class="row">
                            <div class="col text-right"><i class="fa fa-2x fa-close" data-dismiss="modal"></i></div>
                         </div>
                      </div>
                      <div class="card-body pt-0">
                         <!-- <div class="row justify-content-center text-center">
                            <div class="col">
                               <p><b>LOGIN</b></p>
                            </div>
                         </div> -->
                         <div class="row justify-content-center">
                            <div class="col-sm-9 mb-2"><a routerLink="/login" type="button" class="btn btn-icon btn-block text-left" data-dismiss="modal"><span><i class="fa fa-user img-fluid mr-1" aria-hidden="true"></i></span> Login as Individual</a></div>
                            <div class="col-sm-9 mb-5"><a routerLink="/" type="button" class="btn btn-icon btn-block text-left" data-dismiss="modal"><span><i class="fa fa-users img-fluid mr-1" aria-hidden="true"></i></span>Login as Business</a> </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>    

<!--modal sign up -->
<div id="my-modal-2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
        <div class="modal-content border-0 mx-3">
            <div class="modal-body p-0">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header bg-white pb-0 border-0">
                                <div class="row">
                                    <div class="col text-right"><i class="fa fa-2x fa-close" data-dismiss="modal"></i></div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row justify-content-center text-center">
                                    <div class="col">
                                        <p class="mb-2"><b>Sign up</b></p><small class="px-sm-5 px-2">Create an account to unlock all the benefits of service provider.</small>
                                    </div>
                                </div>
                                <div class="row justify-content-center">

                                    <div class="col-sm-9 mt-5"><a routerLink="/register" type="button" class="btn btn-icon btn-block text-left" data-dismiss="modal"><span><i class="fa fa-user img-fluid mr-1" aria-hidden="true"></i></span> Sign up as Individual</a></div>
                                    <div class="col-sm-9 mt-2"><a routerLink="/register-organization" type="button" class="btn btn-icon btn-block text-left" data-dismiss="modal"><span><i class="fa fa-users img-fluid mr-1" aria-hidden="true"></i></span>Sign up as Business</a> </div>
                                   
                                </div>
                                <div class="row justify-content-center my-5">
                                    <div class="col-10">
                                        <div class="custom-control custom-checkbox"><input id="my-input" class="custom-control-input" type="checkbox" name="" value="true"><label for="my-input" class="custom-control-label"><span>I'm not interested in update about products and service. </span></label></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>