<section class="shop">
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Featured <b>Product</b></h2>
               <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
               <!-- Carousel indicators -->
               <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>   
               <!-- Wrapper for carousel items -->
               <div class="carousel-inner">
                   <div class="item carousel-item active">
                       <div class="row">
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Apple iPad</h4>
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$400.00</del> <span>$369.00</span></p>
                                       
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                   <h4>Sony Headphone</h4>
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$25.00</del> <span>$23.99</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>		
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Macbook Air</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                           </ul>
                                       </div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p class="item-price"><span class="strike">$899.00</span> <span>$649.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>								
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Nikon DSLR</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del> <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="item carousel-item">
                       <div class="row">
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Sony Play Station</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Macbook Pro</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Bose Speaker</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Samsung Galaxy S8</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>						
                       </div>
                   </div>
                   <div class="item carousel-item">
                       <div class="row">
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Apple iPhone</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Canon DSLR</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Google Pixel</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>	
                           <div class="col-md-3 col-sm-6">
                               <div class="thumb-wrapper">
                                   <div class="img-box">
                                       <img src="img/img3.jpg" class="img-responsive img-fluid" alt="">
                                   </div>
                                   <div class="thumb-content">
                                       <h4>Apple Watch</h4>
                                       
                                       <div class="star-rating">
                                           <ul class="list-inline">
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                               <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                           </ul>
                                       </div>
                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                       <p class="item-price"><del>$315.00</del>  <span>$250.00</span></p>
                                       <a href="cart.html" class="btn btn-primary">Add to Cart</a>
                                   </div>						
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- Carousel controls -->
               <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                   <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                   <i class="fa fa-angle-right"></i>
               </a>
           </div>
           </div>
       </div>
   </div>
   
   </section>
