<section class="accordion_two_section ptb-100 inner-page myaccount">
    <div class="container py-5">
        <h2 class="text-center title"><span>My account</span></h2>
        <div class="row mb-5">
         <div class="col-md-4">
         <app-sidemenu></app-sidemenu>
         </div>
         <div class="col-md-8">
            <p> Hello <b>{{user.user.first_name}}</b> (not {{user.user.first_name}}? <a href="#" (click)="logout()">Log out</a>)</p>
            <h4 class="mb-2 pb-2">My Appointments</h4>
            <!-- Start -->
            <div class="table-responsive pt-3">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      First name
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Time
                    </th>
                    <th>
                      Phone
                    </th>
                    <th>
                      To
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info" *ngFor="let item of myappointments; index as i">
                    <td>
                     {{item.id}}
                    </td>
                    <td>
                      {{item.full_name}}
                    </td>
                    <td>
                      {{item.appointment_date}}
                    </td>
                    <td>
                      {{item.appointment_time}}
                    </td>
                    <td>
                      {{item.phone}}
                    </td>
                    <td>
                      {{item.organization.name}}
                    </td>
                    <td>
                      <label class="badge badge-danger">Pending</label>
                    </td>
                    <td>
                      <div class="switch_box box_4">
                        <!-- <a class="edit" title="Edit" data-toggle="tooltip" href="edit-appointment.html"><i class="fa fa-pencil" aria-hidden="true"></i>
                        </a> |  -->
                        <a class="delete" title="Delete" data-toggle="tooltip" href="#"><i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
              
           
           
            <!-- End -->
                
            
            
         
        </div>
    </div>
    </div>
    <!--end of /.container-->
</section>
