<section class="purple copyright">
    <div class="container"> 
    <div class="row">
    <div class="col-md-6 copyright-1"><p><i class="fa fa-copyright" aria-hidden="true"></i>
      2022 Service provider Inc . All Rights Reserved.</p></div>
      
  <div class="col-md-6 gateway"><p>Supported payment gateway</p>
  <ul class="list-unstyled list-inline social">
    <li class="list-inline-item"><a href="#"><i class="fa fa-cc-visa"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fa"><img src="../../../assets/img/m-pesa-logo-png.png" class="img-fluid" width="50"></i></a></li>
    
  </ul></div>
  </div>
      </div>
  </section>
