<section class="footer blue">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Quick links</h4>
            <ul>
              <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About Us</a></li>
              <li><a routerLink="/delivery-information"><i class="fa fa-angle-double-right"></i>Delivery Information</a></li>
              <li><a routerLink="/privacy-policy"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
              <li><a routerLink="/terms-conditions"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
              <li><a routerLink="/contact-us"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
              <li><a routerLink="/faqs"><i class="fa fa-angle-double-right"></i>FAQs</a></li>
            </ul>
          </div>
        </div> <!--  End Col --><div class="col-md-3 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Buy Products</h4>
            <ul>
              <li><a href="motor-salvages.html"><i class="fa fa-angle-double-right"></i>Motor Salvages 
              </a></li>
              <li><a href="non-motor-salvages.html"><i class="fa fa-angle-double-right"></i>Non-Motor Salvages</a></li>
              <li><a href="auctions.html"><i class="fa fa-angle-double-right"></i>Auctions
              </a></li>
              <li><a href="auto-spares.html"><i class="fa fa-angle-double-right"></i>Auto Spares</a></li>
              <li><a href="electronics.html"><i class="fa fa-angle-double-right"></i>Electronics</a></li>
              <li><a href="tenders.html"><i class="fa fa-angle-double-right"></i>Tenders</a></li>
            </ul>
          </div>
        </div> <!--  End Col --><div class="col-md-3 col-sm-6">
          <div class="single_ftr footer-contact">
            <h4 class="sf_title">Find us</h4>
            <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
    <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
          </div>
        </div> <!--  End Col --><div class="col-md-3 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Download Apps</h4>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                  <a href="#" target="_blank"><img src="../../../assets/img/social-appstore-white.png" class=" mb-3" alt=""></a>
              </li>
              <li class="list-inline-item">
                  <a href="#" target="_blank"><img src="../../../assets/img/social-googleplay-white.png" class=" mb-3" alt=""></a>
              </li>
          </ul>
          <h4 class="sf_title">Connect with us</h4>
          <ul class="list-unstyled list-inline social">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
          
          </div>
        </div> <!--  End Col -->    
      </div>
    </div>
    
         </section>
