<section>
    <div class="row-fluid blue main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"> <i class="fa fa-bars text-info" aria-hidden="true"></i> </button>
                <!-- <a href="cart.html" class="navbar-brand font-weight-bold d-block d-lg-none cart d-none"><button class="btn btn-xs btn-link d-none" style="font-size:20px;">
              <i class="fa fa-shopping-cart" style="color:#fff"></i>
            </button>
            <span class="badge badge-notify" style="font-size:10px;">3</span></a> -->
              <div id="navbarContent" class="collapse navbar-collapse">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link font-weight-bold text-uppercase">Home</a></li>
                    <li class="nav-item"><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link font-weight-bold text-uppercase">about</a></li>
                    <li class="nav-item"><a routerLink="/features" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link font-weight-bold text-uppercase">Features</a></li>             
                      <li class="nav-item dropdown"><a id="megamenu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Products</a>
                          <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0 col-md-6">
                              <div class="container rounded-0 m-0 blue shadow-sm px-2">
                                                
                                        <ul class="list-unstyled one blue">
                                            <li class="nav-item" *ngFor="let product_category of allProductsCategories; index as i">
                                                <a routerLink="/{{product_category.is_biddable==true ? 'bids':'products'}}/{{product_category?.id}}" class="nav-link text-small pb-0"><i class="fa fa-angle-right mr-1" aria-hidden="true"></i>{{product_category.name}}</a>
                                            </li>
                                         </ul>
                                                  
                               
                              </div>
                          </div>
                      </li>
                      
      
      
                      <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">service providers</a>
                          <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                              <div class="container">
                                  <div class="row blue rounded-0 m-0 shadow-sm">
                                     <div class="col-lg-12 mb-4">
                                                      
                                              <ul class="list-unstyled three">
                                                  
                                                      <li class="nav-item"  *ngFor="let service of serviceCategories; index as i"><a [routerLink]="['/services/' + service?.id]" class="nav-link text-small pb-0"><i class="fa fa-angle-right mr-1" aria-hidden="true"></i>{{service.name}}<span class="badge badge-warning ml-1">{{service.services_count}}</span></a></li>
                                                 
       
                                              </ul>
                                      </div>
                                     
                                                  
                                  </div>
                              </div>
                          </div>
                      </li>
                      
      
      
      
                      <li class="nav-item"><a routerLink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link font-weight-bold text-uppercase">Pricing</a></li>
                      <li class="nav-item"><a routerLink="/tender" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link font-weight-bold text-uppercase">Tenders</a></li>
                  </ul>
      
                   <!--country-->
               <ul class="navbar-nav ml-auto country">
                
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe mr-1"></i>COUNTRY<span class="caret"></span></a>
                    <ul class="dropdown-menu rounded-0 blue" role="menu">
                        <li class="mr-3">
                            <input type="text" placeholder="Search movie" (keyup)="getcountries($event)">
                        </li>
                        <li *ngFor="let country of allCountries">
                            <a href="#">{{country.name}}</a>
                        </li>
                    </ul>
                  </li>
              </ul>
      
              </div>
          </nav>
          
          </div>
        </div>
    
</section>