<section>
    <div class="container padding-bottom-3x mb-2 mt-5 reset-password">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2 id="heading">Forgot your password?</h2>
	                <p>Change your password in three easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
	                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
	                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
	                </ol>
	            </div>
	            <form id="msform" class="card mt-4" [formGroup]="forgotPass">
	                <div class="card-body">
	                    <div class="form-group"> <label for="email-for-pass d-block">Enter your email address</label> 
							
							<input [class.border-r]="forgotPass.controls['username'] .dirty && forgotPass.hasError('required','username')" class="form-control mb-0" formControlName="username" type="text" id="email-for-pass">
							<small *ngIf="forgotPass.controls['username'] .dirty && forgotPass.hasError('required','username')" class="text-danger">*Email is Required</small>
							<small class="form-text text-muted">Enter the email address you used during the registration on Serviceprovider.com. Then we'll email a link to this address.</small> </div>
	                </div>
	                <div class="card-footer"> <button class="btn action-button" type="submit" (click)="forgot()">Get New Password</button> </div>
	            </form>
	        </div>
	    </div>
	</div>
</section>
