<section class="accordion_two_section ptb-100 inner-page myaccount">
    <div class="container py-5">
        <h2 class="text-center title"><span>My account</span></h2>
        <div class="row mb-5">
         <div class="col-md-4">
            <app-sidemenu></app-sidemenu>
         </div>
         <div class="col-md-8">
            <p> Hello <b>mjijo</b> (not mjijo? <a href="#">Log out</a>)</p>
            <h4 class="mb-2 pb-2">Account Details</h4>
            <!-- Start -->
          <div class="row">
            <div class="col border-0"> 
                   
              <p class="mb-4 text-sm">Update Your account Details</p>
              <div class="row mt-3">
                  <div class="col-md-6"> <label class="mb-0">
                          <h6 class="mb-0 text-sm">Full Name</h6>
                      </label> <input type="text" name="fname" placeholder="John Doe"> </div>
                  <div class="col-md-6"> <label class="mb-0">
                          <h6 class="mb-0 text-sm">Username</h6>
                      </label> <input type="text" name="uname" placeholder="johndoe123"> </div>
              </div>
              <div class="row px-3"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">Email Address</h6>
                  </label> <input type="text" name="email" placeholder="john.doe@email.com"> </div>
              <div class="row px-3"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">Password</h6>
                  </label> <input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"> </div>
                                      <div class="row px-3"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">New Password</h6>
                  </label> <input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"> </div>
                                      <div class="row px-3"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">Confirm Password</h6>
                  </label> <input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"> </div>
              
              <div class="row mb-4">
                  <div class="col-md-6"> <button class="btn btn-blue text-center mb-1 py-2">Update Account</button> </div>
              </div>
              
              
          </div>
          </div>  
              
           
           
            <!-- End -->
                
            
            </div>
         
        </div>
    </div>
    <!--end of /.container-->
</section>
