<!-- section start Breadcrumbs here-->
<section class="breadcrumb-0">
    <div class="container">
     <div class="card">
     <div class="page-header-breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#!" data-abc="true">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">Products</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!" data-abc="true">Shipment</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
    
    </section>
    <!-- section end Breadcrumbs here-->
    
    <!-- section start faqs here-->
    <section class="accordion_two_section ptb-100 inner-page faqs shippment">
        <div class="container py-5">
            <h2 class="text-center title"><span>Shippment</span></h2>
            <div class="row">
                <div class="col-md-8">
                    <form  #myForm="ngForm" (ngSubmit)="onSubmitUpdate(orders, orders.id)">
                    <div class="row-fluid mt-2">
                      <ul id="vj-steps-acc" class="vjsteps_acc">
                        <li data-vjstepno="1" class="shadow-sm bg-white mb-2">
                          <h5 class="p-3 text-uppercase"><i class="fa fa-check-circle mr-1" aria-hidden="true"></i>1. Address Details 
                            <button type="button" class="btn pull-right" data-toggle="modal" data-target="#myModal">
                            ORDER NO : {{orders.order_number}}
                          </button>
                        </h5>
                          <hr class="divider m-0">
                          <section class="clearfix px-4">
                            <h5>{{orders.user.name}}</h5>
                            
                              <div class="form-group">
                                <label for="address">Address<span class="text-danger">*</span></label>
                                <textarea 
                                name="address" 
                                class="form-control" 
                                id="address" [(ngModel)]="orders.address" [value]="orders.address" 
                                cols="30" rows="10"
                                placeholder="Apartment, studio, or floor" required minlength="4" #address="ngModel">

                                </textarea>
                                  <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert text-danger">

                                    <div *ngIf="address.errors?.['required']">
                                      <p>Address is required.</p>
                                    </div>
                                    <div *ngIf="address.errors?.['minlength']">
                                      <p>Address must be at least 4 characters long.</p>
                                    </div>
                                  </div> 
                              </div>
                              <div class="form-group">
                                <label for="inputAddress2">Postal Address<span class="text-danger">*</span></label>
                                <input type="text" name="postal_code" class="form-control" [(ngModel)]="orders.postal_code" [value]="orders.postal_code" id="inputAddress2" required  minlength="4" #postal_code="ngModel">
                                <div *ngIf="postal_code.invalid && (postal_code.dirty || address.touched)" class="alert text-danger">

                                  <div *ngIf="postal_code.errors?.['required']">
                                    Address is required.
                                  </div>
                                  <div *ngIf="postal_code.errors?.['minlength']">
                                    Address must be at least 4 characters long.
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputCity">City<span class="text-danger">*</span></label>
                                  <input type="text" name="city" class="form-control"  [(ngModel)]="orders.city" [value]="orders.city" id="inputCity" required minlength="4" #city="ngModel">
                                  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert text-danger">

                                    <div *ngIf="city.errors?.['required']">
                                      <p>City is required.</p>
                                    </div>
                                    <div *ngIf="address.errors?.['minlength']">
                                      <p>City must be at least 4 characters long.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputState">State<span class="text-danger">*</span></label>
                                  <select id="inputState" class="form-control" name="orders.country" [(ngModel)]="orders.state" [value]="orders.state" required #state="ngModel">
                                    <option selected>Choose...</option>
                                    <option *ngFor="let country of allCountries; index as i">{{country.name}}</option>
                                  </select>
                                  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert text-danger">
                                    <div *ngIf="state.errors?.['required']">
                                      <p>City is required.</p>
                                    </div>
                                  </div>
                                  
                                </div>
                                
                              </div>
                            <p class="d-none">
                              <button class="btn btn-primary rounded-0 border-0 purple vjsteps_nxt vjbutton pull-right">SELECT DELIVERY METHOD</button>
                            </p>
                          </section>
                        </li>
                        
                        <li data-vjstepno="2" class="shadow-sm bg-white mb-2">
                          <h5 class="p-3 text-uppercase"><i class="fa fa-check-circle mr-1" aria-hidden="true"></i>2. Delivery Method </h5>
                          <hr class="divider m-0">
                          <section class="clearfix px-4">
                            <b>How do you want your order delivered?</b>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" id="delivery" class="form-check-input" name="delivery_method" value="Pickup Station" [(ngModel)]="orders.delivery_method" required><b>Pickup Station</b><br />
                                
                              </label>
                            </div>
                            <hr>
                            <div class="form-check mb-2">
                              <label class="form-check-label">
                                <input type="radio" id="delivery" class="form-check-input" name="delivery_method" value="Delivery to your home or office" [ngModel]="orders.delivery_method" required><b>Delivery to your home or office</b><br/>
 
                              </label>
                              
                            </div>
                            
                          </section>
                        </li>
                        
                        <li data-vjstepno="3" class="shadow-sm bg-white mb-2">
                          <h5 class="p-3 text-uppercase"><i class="fa fa-check-circle mr-1" aria-hidden="true"></i>3. Payment Method </h5>
                          <hr class="divider m-0">
                          <section class="clearfix">
                            <div class="row text-center justify-content-center">
                            <b>How do you want to pay for your order?</b>
                            </div>
                            <div class="row my-2 align-items-center justify-content-center"> 
                              <div class="col-md-8">
                                <div class="form-check-inline">
                                  <label class="form-check-label d-none">
                                    <input type="radio" class="form-check-input" name="optradio">Pay Online
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="payment_method" [(ngModel)]="orders.payment_method" value="Pay on Delivery" required>Pay on Delivery
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="payment_method" value="Send me an Invoice" [(ngModel)]="orders.payment_method" required>Send me an Invoice
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-0 d-none">
                              <div class="col-md-12 ">
                                  <p class="text-center sub-heading2"><b>Do you have a voucher?</b></p>
                              </div>
                          </div>
                          <div class="row justify-content-center padding d-none">
                            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                                <form action="#" class="domain-form">
                                    <div class="form-group d-md-flex"> <input type="text" class="form-control px-4" placeholder="Enter your voucher code..."> <input type="submit" class="search-domain btn btn-primary px-5 text-uppercase" value="Enter"> </div>
                                </form>
                                </div>
                        </div>
                            
                            <button type="submit" class="btn btn-primary rounded-0 border-0 purple vjsteps_nxt vjbutton text-uppercase pull-right" [disabled]="!myForm.valid">proceed to Payment</button>
                          </section>
                        </li>
                      </ul>
                      
                    </div>
                  </form>
                </div>
                <div class="col-md-4">
                  <div class="card border-0 bg-white shadow-sm rounded-0 mt-2">
                    <div class="card-header card-2 m-0">
                        <p class="card-text text-muted mb-2 space">YOUR ORDER <span class=" small text-muted ml-2 cursor-pointer d-none">EDIT SHOPPING BAG</span> </p>
                        <hr class="my-2">
                    </div>
                    <div class="card-body pt-0">
                        <div class="row justify-content-between d-none">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row"> <img class=" img-fluid" src="img/225x225.jpg" width="62" height="62">
                                    <div class="media-body my-auto">
                                        <div class="row ">
                                            <div class="col-auto">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">1 Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" pl-0 flex-sm-col col-auto my-auto">
                                <p class="boxed-1">2</p>
                            </div>
                            <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2 d-none">
                        <div class="row justify-content-between d-none">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row"> <img class=" img-fluid " src="img/225x225.jpg" width="62" height="62">
                                    <div class="media-body my-auto">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">2 Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p class="boxed">3</p>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2 d-none">
                        <div class="row justify-content-between d-none">
                            <div class="col-auto col-md-7">
                                <div class="media flex-column flex-sm-row"> <img class=" img-fluid " src="img/225x225.jpg" width="62" height="62">
                                    <div class="media-body my-auto">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="mb-0"><b>EC-GO Bag Standard</b></p><small class="text-muted">2 Week Subscription</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p class="boxed-1">2</p>
                            </div>
                            <div class="pl-0 flex-sm-col col-auto my-auto">
                                <p><b>179 SEK</b></p>
                            </div>
                        </div>
                        <hr class="my-2 d-none">
                        <div class="row ">
                            <div class="col">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <p class="mb-1"><b>Subtotal</b></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b>{{orders.amount}}</b></p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <p class="mb-1"><b>Shipping</b></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b>0 KES</b></p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <p><b>Total</b></p>
                                    </div>
                                    <div class="flex-sm-col col-auto">
                                        <p class="mb-1"><b>{{orders.amount}}</b></p>
                                    </div>
                                </div>
                                <hr class="my-0">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--end review-->
                </div>
            </div>
        </div>
        <!--end of /.container-->
    </section>
    <script>
        
      </script> 
    <!-- section end here-->
