<section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">
    
              <div class="col-md-4">
                <div class="subscribe-text mb-15">
                  <span><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    JOIN OUR NEWSLETTER</span>
                  
                </div>
              </div>
              <div class="col-md-8">
                <div class="subscribe-wrapper subscribe2-wrapper mb-15">
                  <div class="subscribe-form">
                    <form action="#">
                      <input placeholder="enter your email address" type="email">
                      <button>subscribe </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
    </div>
    </section>
