<section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">
    
              <div class="col-md-4">
                <div class="subscribe-text mb-15">
                  <span><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    JOIN OUR NEWSLETTER</span>
                  
                </div>
              </div>
              <div class="col-md-8">
                <div class="subscribe-wrapper subscribe2-wrapper mb-15">
                  <div class="subscribe-form">
                    <form [formGroup]="subscribersForm"(ngSubmit)="subscribeBtn()">
                      <input placeholder="enter your email address" formControlName="email" type="email">
                     
                      <button type="submit">subscribe </button>
                      <small *ngIf="subscribersForm.controls['email'] .dirty && subscribersForm.hasError('required','email')" class="text-danger d-block">Email is Required</small>   
                      <small *ngIf="subscribersForm.controls['email'] .dirty && subscribersForm.hasError('email','email')" class="text-danger d-block">Email is Invalid</small> 
                      <small *ngIf="error" class="alert alert-danger d-block" role="alert">
                          {{error}}
                      </small> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
    </div>
    </section>
